.btn-light {
  display: inline-block;
  padding: 1.3rem 2rem;
  transition: all 0.5s;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer; }

.btn-light {
  background: linear-gradient(to left, #f9f9d9 50%, #e0610e 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  color: #000; }
  .btn-light:hover {
    color: #f9f9d9;
    background-position: bottom left; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.display {
  font-size: 4.5rem; }

img {
  width: 100%;
  height: 100%; }

.texto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  text-align: center; }

body {
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  background: #fff;
  color: #000; }

a {
  text-decoration: none;
  color: #000;
  line-height: 1.2; }

* {
  margin: 0;
  padding: 0; }

#header {
  background: url(https://picsum.photos/id/1021/1920/1080) no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh; }
  #header #nav {
    padding: 3rem 0; }
    #header #nav-container {
      margin: 0 auto;
      max-width: 1280px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #header #nav-container .logo {
        color: #f9f9d9;
        line-height: 1.3rem;
        font-size: 2.5rem; }
    #header #nav-options .nav-option {
      margin-right: 1rem;
      line-height: 1.3rem;
      font-size: 1.3rem;
      color: #f9f9d9;
      border-bottom: transparent;
      padding-bottom: 0.3rem;
      transition: border-bottom 0.2s; }
      #header #nav-options .nav-option:hover {
        border-bottom: 3px solid #e0610e; }
  #header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15rem 0; }
    #header-content .text-gradient {
      background: linear-gradient(to right, #e0610e, #f7b733);
      color: transparent;
      background-clip: text; }

#about {
  padding: 6rem 0; }
  #about-a {
    margin: 0 auto 5rem auto;
    max-width: 1280px;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas: 'image image image image texto texto'; }
    #about-a .image {
      grid-area: image; }
    #about-a .texto {
      grid-area: texto; }
  #about-b {
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    #about-b .texto {
      background-color: #000;
      color: #f9f9d9; }

#contact {
  background: url(https://picsum.photos/id/1021/1920/1080) no-repeat center center/cover;
  background-attachment: fixed;
  height: 40vh;
  color: #f9f9d9;
  display: flex;
  align-items: center;
  justify-content: center; }
  #contact-container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2rem;
    text-align: center; }
    #contact-container i {
      padding-bottom: 1rem; }
    #contact-container p {
      font-size: 2rem; }
  #contact-form .input {
    padding: 1.3rem 0.5rem;
    margin-bottom: 1rem;
    min-width: 400px;
    border-radius: 0.3rem;
    outline: none;
    border: none; }
    #contact-form .input:focus {
      outline: 1px solid #e0610e; }

#contact-b {
  margin: 0 auto;
  max-width: 1280px; }
  #contact-b #card-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr); }
    #contact-b #card-container .card {
      text-align: center;
      margin: 5rem 0 3rem 0;
      padding: 5rem 0;
      border: 1px solid #000; }
      #contact-b #card-container .card i {
        padding-bottom: 0.5rem; }
  #contact-b #social {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 0; }
    #contact-b #social .social-item {
      padding-right: 1rem;
      transition: all 0.3s; }
      #contact-b #social .social-item:hover {
        color: #e0610e; }

#footer {
  text-align: center;
  padding: 2.5rem 0; }

@media (max-width: 500px) {
  #about-a {
    display: block; }
  #about-b {
    grid-template-columns: 1fr; }
    #about-b .texto {
      margin: 1rem 0;
      background: transparent;
      color: #000; }
  #contact-b #card-container {
    grid-template-columns: 1fr; }
    #contact-b #card-container .card {
      margin: 2rem 0 1rem 0; } }
